*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";

}
html {
    scroll-behavior: smooth;
  }

.container{
    margin-left: 5%;
    margin-right: 5%;
}

/* Navbar section */

.nav{
    width: 100%;
    height:72px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color: #fff;
    /* box-shadow: 1px 3px 16px -10px; */
    z-index: 99;
}

.nav div.logo{
    width: 180px;
    height: 10px;
    position: absolute;
}

.nav div.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 1.8em;
    text-transform: uppercase;
}

.nav div.logo a:hover {
    color: #c0c0c0;
}

.nav div.main_list{
    width: 700px;
    height: 65px;
    float: right;
}

.nav div.main_list ul{
    width:100%;
    height: 65px;
    display: flex;
    list-style: none;
}

.nav div.main_list ul li{
    width: 130px;
    height: 65px;

}

.nav div.main_list ul li a{
    text-decoration: none;
    line-height: 65px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color:rgb(37, 37, 37);
}

.nav div.main_list ul li a:hover{
    color: #2c2c2c;

}

.nav div.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.nav div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;;
    outline: 0;
    border: none;
    cursor: pointer;
}

.nav div.media_button button.main_media_button span{
    width: 98%;
    height: 3px;
    border-radius: 5px;
    display: block;
    background-color: #2e2d2d;
    margin-top: 9px;
    margin-bottom: 10px;

}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #2e2d2d;
    height: 2px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    height: 2px;
    background-color: #2e2d2d;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    height: 2px;
    background-color: #2e2d2d;
}

.nav div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}

/* Home section */

.home{
    width: 100%;
    height: 38vh;
    /* background-color: #ddd; */

display: flex;
justify-content: center;
align-items: center;

}



    .home .header-text{
        margin-top: 4rem;
    }



.nav-part{
    width: 100%;
    height:72px;
    position: absolute;
    line-height: 65px;
    text-align: center;
    background-color: transparent;
    /* box-shadow: 1px 3px 16px -10px; */
    z-index: 99;
}

.nav-part div.logo{
    width: 180px;
    height: 10px;
    position: absolute;
}

.nav-part div.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 1.8em;
    text-transform: uppercase;
}

.nav-part div.logo a:hover {
    color: #c0c0c0;
}

.nav-part div.main_list{
    width: 700px;
    height: 65px;
    float: right;
}

.nav-part div.main_list ul{
    width:100%;
    height: 65px;
    display: flex;
    list-style: none;
}

.nav-part div.main_list ul li{
    width: 130px;
    height: 65px;

}

.nav-part div.main_list ul li a{
    text-decoration: none;
    line-height: 65px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color:rgb(37, 37, 37);
}

.nav-part div.main_list ul li a:hover{
    color: #2c2c2c;

}

.nav-part div.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.nav-part div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;;
    outline: 0;
    border: none;
    cursor: pointer;
}

.nav-part div.media_button button.main_media_button span{
    width: 98%;
    height: 3px;
    border-radius: 5px;
    display: block;
    background-color: #2e2d2d;
    margin-top: 9px;
    margin-bottom: 10px;

}

.nav-part div.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #2e2d2d;
    height: 2px;
}

.nav-part div.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    height: 2px;
    background-color: #2e2d2d;
}

.nav-part div.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    height: 2px;
    background-color: #2e2d2d;
}

.nav-part div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.nav-part div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.nav-part div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.nav-part div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.nav-part div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}

/* Home section */


.home-part{
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    background-image: url('/assets/img/partnership.jpg');
    background-size: cover;
display: block;
position: relative;


}
.home-part .form-partner{
margin-top: 5rem ;
}
.home-part .text-partner{
    margin-top: 5rem ;



    }
    .home-part .text-partner h1{
        margin-top: 10rem ;
        font-size: 3.3rem;

        line-height: 1.3;
        }
        .home-part .text-partner h1 ,p{
            padding: 0 2rem;
        }
        .home-part .text-partner  p{
            letter-spacing: 4px;
        }




    #overlay {
        position: absolute; /* Sit on top of the page content */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%;/* Full height (cover the whole page) */
        padding-bottom: 40px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
 /* Add a pointer on hover */
      }


.btn-grad {background-image: linear-gradient(to right, #e43a15 0%, #e65245  51%, #e43a15  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;

   color: white;
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


@media screen and (min-width: 350px) and (max-width: 768px) {

    .visible-xs{
       display: none;
    }

}




/* Medai qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .container{
        margin: 0;
    }

}




@media screen and (max-width:768px) {

    .container{
        margin: 0;
    }

    .nav div.logo{
        margin-left: 15px;
    }

    .nav div.main_list{
        width: 100%;
        margin-top: 65px;
        height: 0px;
        overflow: hidden;
    }

    .nav div.show_list{
        height: 200px;
    }

    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }

    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:#fff;;
        color:black;
    }
    .nav div.main_list ul li:hover{
        width: 100%;
        height: 40px;
        background-color:rgb(248, 248, 248);;
        color:black;
    }

    .nav div.main_list ul li a{
      text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }

    .nav div.media_button{
        display: block;
    }
}

